* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-weight: 100;
    padding: 10px 15px;
    font-family: 'Roboto', sans-serif;
    color: #333;
    text-align: center;
}
h2 {
    margin: 0 0 10px;
}
.picker-wrapper,
.slide-wrapper {
    position: relative;
    float: left;
}
.picker-indicator,
.slide-indicator {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
}
.picker,
.slide {
    cursor: crosshair;
    float: left;
}
#color-picker {
}
#color-picker .picker {
    width: 200px;
    height: 200px;
}
#color-picker .slide {
    width: 30px;
    height: 200px;
}
#color-picker .slide-wrapper {
    margin-left: 4px;
}
#color-picker .picker-indicator {
    width: 5px;
    height: 5px;
    border: 2px solid #333;
    border-radius: 4px;
    opacity: .5;
    background-color: white;
}
#color-picker .slide-indicator {
    width: 100%;
    height: 10px;
    left: -4px;
    opacity: .6;
    border: 4px solid lightgrey;
    border-radius: 4px;
    background-color: white;
    box-sizing: content-box;
}
#picker {
    width: 200px;
    height: 200px
}
#slide {
    width: 30px;
    height: 200px
}
button {
    padding: 4px 8px;
    display: block;
    margin: 0 auto;
}